Repository inngest/inngest-js, pull requests merged in 2023-11, with the labels that each got.

#378 Add `INNGEST_API_BASE_URL` and `INNGEST_EVENT_API_BASE_URL`
  .changeset/forty-impalas-fry.md
  packages/inngest/etc/inngest.api.md
  packages/inngest/src/components/Inngest.ts
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/helpers/consts.ts
  packages/inngest/src/types.ts
Labels: prerelease/inngest, ⬆️ improvement

#341 Add Next.js app dir examples and fix some typing
  .github/workflows/pr.yml
  examples/framework-nextjs-app-router/.eslintrc.json
  examples/framework-nextjs-app-router/.gitignore
  examples/framework-nextjs-app-router/README.md
  examples/framework-nextjs-app-router/next.config.js
  examples/framework-nextjs-app-router/package.json
  examples/framework-nextjs-app-router/public/next.svg
  examples/framework-nextjs-app-router/public/vercel.svg
  examples/framework-nextjs-app-router/src/app/api/inngest/route.ts
  examples/framework-nextjs-app-router/src/app/favicon.ico
  examples/framework-nextjs-app-router/src/app/globals.css
  examples/framework-nextjs-app-router/src/app/layout.tsx
  examples/framework-nextjs-app-router/src/app/page.module.css
  examples/framework-nextjs-app-router/src/app/page.tsx
  examples/framework-nextjs-app-router/src/inngest/client.ts
  examples/framework-nextjs-app-router/src/inngest/helloWorld.ts
  examples/framework-nextjs-app-router/src/inngest/index.ts
  examples/framework-nextjs-app-router/src/inngest/types.ts
  examples/framework-nextjs-app-router/tsconfig.json
  examples/framework-nextjs-pages-router/.eslintrc.json
  examples/framework-nextjs-pages-router/.gitignore
  examples/framework-nextjs-pages-router/README.md
  examples/framework-nextjs-pages-router/next.config.js
  examples/framework-nextjs-pages-router/package.json
  examples/framework-nextjs-pages-router/public/favicon.ico
  examples/framework-nextjs-pages-router/public/next.svg
  examples/framework-nextjs-pages-router/public/vercel.svg
  examples/framework-nextjs-pages-router/src/inngest/client.ts
  examples/framework-nextjs-pages-router/src/inngest/helloWorld.ts
  examples/framework-nextjs-pages-router/src/inngest/index.ts
  examples/framework-nextjs-pages-router/src/inngest/types.ts
  examples/framework-nextjs-pages-router/src/pages/_app.tsx
  examples/framework-nextjs-pages-router/src/pages/_document.tsx
  examples/framework-nextjs-pages-router/src/pages/api/hello.ts
  examples/framework-nextjs-pages-router/src/pages/api/inngest.ts
  examples/framework-nextjs-pages-router/src/pages/index.tsx
  examples/framework-nextjs-pages-router/src/styles/Home.module.css
  examples/framework-nextjs-pages-router/src/styles/globals.css
  examples/framework-nextjs-pages-router/tsconfig.json
  examples/framework-nextjs/README.md
  examples/framework-nextjs/package.json
  examples/framework-nextjs/pages/_app.tsx
  examples/framework-nextjs/pages/api/inngest.ts
  examples/framework-nextjs/pages/index.tsx
  examples/framework-nextjs/public/vercel.svg
  examples/framework-nextjs/styles/Home.module.css
  examples/framework-nextjs/styles/globals.css
  packages/inngest/scripts/runExample.ts
Labels: 🧑‍💻 dx

#385 Fix a TS error when using Inngest in projects with `composite` setting
  .changeset/strange-experts-punch.md
  packages/inngest/etc/inngest.api.md
  packages/inngest/src/index.ts
Labels: 🐞 bug

#388 Remove warning for lack of signing key in dev
  .changeset/heavy-horses-grow.md
  packages/inngest/src/components/InngestCommHandler.ts
Labels: ⬆️ improvement

#389 Allow running integration tests easily locally
  .github/workflows/pr.yml
  packages/inngest/CONTRIBUTING.md
  packages/inngest/scripts/integrationTestRunner.ts
Labels: 🧑‍💻 dx

#299 Add SvelteKit Example
  .changeset/short-worms-agree.md
  .github/workflows/pr.yml
  examples/framework-sveltekit/.gitignore
  examples/framework-sveltekit/.npmrc
  examples/framework-sveltekit/.prettierignore
  examples/framework-sveltekit/.prettierrc
  examples/framework-sveltekit/README.md
  examples/framework-sveltekit/package.json
  examples/framework-sveltekit/src/app.d.ts
  examples/framework-sveltekit/src/app.html
  examples/framework-sveltekit/src/index.test.ts
  examples/framework-sveltekit/src/lib/index.ts
  examples/framework-sveltekit/src/lib/inngest/client.ts
  examples/framework-sveltekit/src/lib/inngest/helloWorld.ts
  examples/framework-sveltekit/src/lib/inngest/index.ts
  examples/framework-sveltekit/src/lib/inngest/types.ts
  examples/framework-sveltekit/src/routes/+page.svelte
  examples/framework-sveltekit/src/routes/api/inngest/+server.ts
  examples/framework-sveltekit/static/favicon.png
  examples/framework-sveltekit/svelte.config.js
  examples/framework-sveltekit/tsconfig.json
  examples/framework-sveltekit/vite.config.ts
  packages/inngest/package.json
  packages/inngest/scripts/integrationTestRunner.ts
  packages/inngest/src/sveltekit.test.ts
  packages/inngest/src/sveltekit.ts
  packages/inngest/src/test/helpers.ts
  packages/inngest/src/types.ts
  pnpm-lock.yaml
Labels: ✨ new, 🧑‍💻 dx

#393 Examples/framework koa
  .changeset/itchy-tools-sin.md
  examples/.gitignore
  examples/framework-koa/.gitignore
  examples/framework-koa/README.md
  examples/framework-koa/package.json
  examples/framework-koa/src/index.ts
  examples/framework-koa/src/inngest/client.ts
  examples/framework-koa/src/inngest/helloWorld.ts
  examples/framework-koa/src/inngest/index.ts
  examples/framework-koa/src/inngest/types.ts
  examples/framework-koa/tsconfig.json
  packages/inngest/package.json
  packages/inngest/src/cloudflare.test.ts
  packages/inngest/src/deno/fresh.test.ts
  packages/inngest/src/edge.test.ts
  packages/inngest/src/koa.test.ts
  packages/inngest/src/koa.ts
  packages/inngest/src/lambda.test.ts
  packages/inngest/src/redwood.test.ts
  packages/inngest/src/remix.test.ts
  packages/inngest/src/sveltekit.test.ts
  packages/inngest/src/test/helpers.ts
  packages/inngest/src/types.ts
  pnpm-lock.yaml
Labels: ✨ new

#402 Add `middleware-e2e-encryption` middleware example
  .github/workflows/pr.yml
  examples/middleware-e2e-encryption/README.md
  examples/middleware-e2e-encryption/fullEncryptionMiddlware.ts
  examples/middleware-e2e-encryption/package.json
  examples/middleware-e2e-encryption/stepEncryptionMiddleware.ts
  packages/inngest/CONTRIBUTING.md
  packages/inngest/scripts/runExample.ts
Labels: 🧑‍💻 dx

#377 `@inngest/eslint-plugin` package
  .changeset/mighty-lamps-greet.md
  .github/actions/setup-and-build/action.yml
  .github/workflows/pr.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  package.json
  packages/eslint-plugin/.gitignore
  packages/eslint-plugin/README.md
  packages/eslint-plugin/jest.config.js
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/configs/index.ts
  packages/eslint-plugin/src/configs/recommended.ts
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/rules/await-inngest-send.test.ts
  packages/eslint-plugin/src/rules/await-inngest-send.ts
  packages/eslint-plugin/src/rules/index.ts
  packages/eslint-plugin/src/rules/no-nested-steps.test.ts
  packages/eslint-plugin/src/rules/no-nested-steps.ts
  packages/eslint-plugin/src/rules/no-variable-mutation-in-step.test.ts
  packages/eslint-plugin/src/rules/no-variable-mutation-in-step.ts
  packages/eslint-plugin/tsconfig.json
  packages/inngest/package.json
  pnpm-lock.yaml
  scripts/release/prerelease.js
  scripts/release/publish.js
  scripts/release/tag.js
Labels: ✨ new, 🧑‍💻 dx, prerelease/eslint-plugin

#403 eslint-plugin: Make sure to publish dist files
  .changeset/chilly-moles-share.md
  .github/workflows/label-prs.yml
  package.json
  packages/eslint-plugin/package.json
  pnpm-lock.yaml
  scripts/labelPrs.js
Labels: 💡 KTLO, 📦 @inngest/eslint-plugin

#405 Upgrade to and test against TS 5.3
  .github/workflows/pr.yml
  packages/eslint-plugin/package.json
  packages/inngest/package.json
  pnpm-lock.yaml
Labels: 💡 KTLO, 📦 inngest, 📦 @inngest/eslint-plugin

#406 Add CI tests for dist and dependency issues
  .changeset/wicked-beans-heal.md
  .github/workflows/pr.yml
  packages/inngest/.eslintrc.js
  packages/inngest/etc/inngest.api.md
  packages/inngest/package.json
  packages/inngest/scripts/checkDependencies.ts
  packages/inngest/src/components/Inngest.ts
  packages/inngest/src/components/InngestFunction.ts
  packages/inngest/src/components/InngestMiddleware.ts
  packages/inngest/src/components/execution/v0.ts
  packages/inngest/src/components/execution/v1.ts
  packages/inngest/src/helpers/ServerTiming.ts
  packages/inngest/src/helpers/errors.ts
  packages/inngest/src/helpers/functions.test.ts
  packages/inngest/src/middleware/logger.ts
  packages/inngest/src/types.ts
  pnpm-lock.yaml
Labels: 💡 KTLO, 📦 inngest

#408 Forward `X-Inngest-Server-Kind` headers for registration failures
  .changeset/light-buttons-deliver.md
  packages/inngest/etc/inngest.api.md
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/helpers/consts.ts
  packages/inngest/src/helpers/env.ts
  packages/inngest/src/test/helpers.ts
Labels: ⬆️ improvement, 📦 inngest

#400 Fix Next.js 13 host being stubborn when relying on `req.url`
  .changeset/heavy-sloths-bathe.md
  packages/inngest/src/helpers/env.ts
  packages/inngest/src/next.ts
Labels: 🐞 bug, 📦 inngest

#409 Support Remix env vars on Cloudflare Pages via `context.env`
  .changeset/eight-masks-grab.md
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/remix.ts
Labels: prerelease/inngest, 📦 inngest
