Repository inngest/inngest-js, pull requests merged in 2024-05, with the labels that each got.

#561 Optimize memoization
  .changeset/silver-impalas-happen.md
  packages/inngest/src/components/execution/v1.ts
  packages/inngest/src/helpers/promises.ts
Labels: ⬆️ improvement, 📦 inngest

#569 Omit event ID in invoke type
  .changeset/gold-apples-worry.md
  packages/inngest/src/components/InngestStepTools.ts
Labels: 📦 inngest

#559 Add scrappy benchmarking
  packages/inngest/package.json
  packages/inngest/test/benchmark/execution/index.ts
  packages/inngest/test/benchmark/execution/memoized-steps.ts
  packages/inngest/test/benchmark/execution/util.ts
  packages/inngest/test/benchmark/main.ts
  packages/inngest/test/benchmark/util.ts
  pnpm-lock.yaml
Labels: 💡 KTLO, 📦 inngest

#573 Handle non-JSON sync response
  .changeset/strange-hairs-fold.md
  packages/inngest/src/components/InngestCommHandler.ts
Labels: 📦 inngest

#578 Ktlo/jsr
  .github/workflows/release.yml
  package.json
  packages/inngest/jsr.json
  packages/inngest/package.json
  packages/inngest/src/astro.test.ts
  packages/inngest/src/astro.ts
  packages/inngest/src/components/EventSchemas.ts
  packages/inngest/src/components/InngestFunction.ts
  packages/inngest/src/components/InngestFunctionReference.ts
  packages/inngest/src/components/execution/v1.ts
  packages/inngest/src/helpers/consts.ts
  packages/inngest/src/next.ts
  pnpm-lock.yaml
  scripts/release/jsrVersion.js
Labels: 💡 KTLO, 📦 inngest

#582 Allow in-CI changes when publishing to JSR
  .changeset/weak-bikes-count.md
  packages/inngest/package.json
Labels: 💡 KTLO, 📦 inngest

#584 Add JSR badge to `README.md`
  .changeset/pink-planes-jam.md
  packages/inngest/README.md
Labels: 💡 KTLO, 📦 inngest

#587 Document all entrypoints with `@module`
  .changeset/red-cobras-mate.md
  packages/inngest/src/astro.ts
  packages/inngest/src/bun.ts
  packages/inngest/src/cloudflare.ts
  packages/inngest/src/deno/fresh.ts
  packages/inngest/src/digitalocean.ts
  packages/inngest/src/edge.ts
  packages/inngest/src/express.ts
  packages/inngest/src/fastify.ts
  packages/inngest/src/h3.ts
  packages/inngest/src/hono.ts
  packages/inngest/src/index.ts
  packages/inngest/src/koa.ts
  packages/inngest/src/lambda.ts
  packages/inngest/src/next.ts
  packages/inngest/src/nuxt.ts
  packages/inngest/src/redwood.ts
  packages/inngest/src/remix.ts
  packages/inngest/src/sveltekit.ts
Labels: 💡 KTLO, 📦 inngest

#589 Ktlo/middleware encryption/peer deps
  .changeset/fair-dancers-juggle.md
  .changeset/seven-toes-warn.md
  packages/middleware-encryption/package.json
  packages/middleware-encryption/src/middleware.ts
  pnpm-lock.yaml
Labels: 💡 KTLO, 📦 @inngest/middleware-encryption
