Repository inngest/inngest-js, pull requests merged in 2024-12, with the labels that each got.

#764 Ensure we add max_tokens as an anthropic option
  .changeset/late-pans-beg.md
  packages/inngest/src/components/ai/models/anthropic.ts
  packages/inngest/src/components/ai/models/openai.ts
Labels: prerelease/inngest, 📦 inngest

#766 Add missing `finish_reason` to OpenAI output types
  .changeset/lemon-sloths-wave.md
  packages/inngest/src/components/ai/adapters/openai.ts
Labels: Bug, 📦 inngest

#768 feat(ai): support for OpenAI `o1` models
  .changeset/breezy-hotels-happen.md
  packages/inngest/src/components/ai/models/openai.ts
Labels: 📦 inngest

#770 Widens the `AiAdapter` types to allow for easy overrides
  .changeset/stale-falcons-dress.md
  packages/inngest/src/components/ai/adapter.ts
  packages/inngest/src/components/ai/models/anthropic.ts
  packages/inngest/src/components/ai/models/openai.ts
Labels: prerelease/inngest, ⬆️ improvement, 📦 inngest

#777 Fix `@inngest/test` automatic spying not accounting for `step.**`
  .changeset/famous-kiwis-itch.md
  packages/test/src/spy.ts
  packages/test/src/util.ts
Labels: Bug, 📦 @inngest/test, prerelease/test

#776 Experimental `getAsyncCtx()`
  .changeset/cyan-sheep-train.md
  .changeset/dull-students-wink.md
  .changeset/silver-dolls-mix.md
  .github/actions/setup-and-build/action.yml
  packages/inngest/jest.config.js
  packages/inngest/jsr.json
  packages/inngest/package.json
  packages/inngest/src/components/execution/als.test.ts
  packages/inngest/src/components/execution/als.ts
  packages/inngest/src/components/execution/v1.ts
  packages/inngest/src/experimental.ts
  packages/middleware-validation/package.json
  packages/test/package.json
  pnpm-lock.yaml
Labels: prerelease/inngest, 📦 inngest, 📦 @inngest/test, 📦 @inngest/middleware-validation, 🧪 experimental

#782 Fix `@inngest/test` release; no `dist/` dir
  packages/test/package.json
Labels: 💡 KTLO, 📦 @inngest/test

#786 Fix `@inngest/test` broken; package `dist/`
  .changeset/purple-insects-do.md
  packages/test/package.json
Labels: Bug, 📦 @inngest/test

#788 Add vanilla Node.js handler
  .changeset/new-experts-refuse.md
  .github/workflows/pr.yml
  examples/node/.gitignore
  examples/node/README.md
  examples/node/index.ts
  examples/node/inngest/client.ts
  examples/node/inngest/helloWorld.ts
  examples/node/inngest/index.ts
  examples/node/inngest/types.ts
  examples/node/package.json
  examples/node/tsconfig.json
  packages/inngest/.eslintrc.js
  packages/inngest/jsr.json
  packages/inngest/package.json
  packages/inngest/src/node.test.ts
  packages/inngest/src/node.ts
  packages/inngest/src/types.ts
Labels: prerelease/inngest, 📦 inngest
