Repository inngest/inngest-js, pull requests merged in 2024-07, with the labels that each got.

#631 Fix broken `debug` extension
  .changeset/brown-turtles-vanish.md
  packages/inngest/src/components/execution/InngestExecution.ts
Labels: Bug, prerelease/inngest, 📦 inngest

#630 fix: add missing concurrency options to function validation
  .changeset/nine-cameras-argue.md
  packages/inngest/src/components/InngestFunction.ts
  packages/inngest/src/types.ts
Labels: Bug, prerelease/inngest, 📦 inngest

#634 Shift the invalid function config error to a warning
  .changeset/giant-bugs-worry.md
  packages/inngest/src/components/InngestCommHandler.ts
Labels: 💡 KTLO, 📦 inngest

#636 Fix wrong URL in inferred dev mode
  .changeset/early-clocks-talk.md
  .github/actions/setup-and-build/action.yml
  packages/inngest/src/api/api.ts
  packages/inngest/src/components/Inngest.ts
  packages/inngest/src/components/InngestCommHandler.ts
Labels: Bug, 📦 inngest

#622 Fix rare checkpoint hang
  .changeset/gorgeous-windows-nail.md
  packages/inngest/src/components/execution/v1.ts
  packages/inngest/src/helpers/promises.ts
Labels: Bug, 📦 inngest

#598 New `@inngest/middleware-sentry` package
  .changeset/blue-starfishes-cheat.md
  .github/workflows/prerelease.yml
  packages/middleware-sentry/.gitignore
  packages/middleware-sentry/LICENSE.md
  packages/middleware-sentry/README.md
  packages/middleware-sentry/jsr.json
  packages/middleware-sentry/package.json
  packages/middleware-sentry/src/index.ts
  packages/middleware-sentry/src/middleware.ts
  packages/middleware-sentry/tsconfig.json
  pnpm-lock.yaml
Labels: ✨ new, 📦 @inngest/middleware-sentry, prerelease/middleware-sentry

#641 Remove incorrect type showing internal events in `step.waitForEvent()`
  .changeset/tiny-rockets-beam.md
  packages/inngest/src/components/InngestStepTools.ts
  packages/inngest/src/helpers/types.ts
Labels: Bug, 📦 inngest

#644 Loosen typing on `match` to remove performance concerns
  .changeset/empty-otters-move.md
  packages/inngest/src/components/EventSchemas.test.ts
  packages/inngest/src/components/InngestFunction.test.ts
  packages/inngest/src/components/InngestFunction.ts
  packages/inngest/src/components/InngestStepTools.ts
  packages/inngest/src/helpers/types.ts
  packages/inngest/src/types.ts
Labels: ⬆️ improvement, 📦 inngest

#645 Support batch keys
  .changeset/five-pens-kick.md
  packages/inngest/src/components/InngestFunction.ts
  packages/inngest/src/types.ts
Labels: 📦 inngest

#646 Remove circular `ctx` type in middleware; TS <5.1 finds this hard
  .changeset/chatty-monkeys-float.md
  packages/inngest/src/components/InngestMiddleware.ts
Labels: Bug, prerelease/inngest, 📦 inngest

#649 Clean up unused generic in `createStepTools`
  packages/inngest/src/components/InngestStepTools.ts
  packages/inngest/src/types.ts
Labels: 📦 inngest

#651 Add new `onFunctionRun.finished` middleware hook
  .changeset/chilly-cooks-rescue.md
  .changeset/forty-mirrors-act.md
  packages/inngest/src/components/InngestFunction.test.ts
  packages/inngest/src/components/InngestMiddleware.ts
  packages/inngest/src/components/execution/v0.ts
  packages/inngest/src/components/execution/v1.ts
  packages/inngest/src/helpers/functions.ts
  packages/inngest/test/composite_project/src/index.ts
Labels: ✨ new, 📦 inngest

#650 Allow specifying an `env` when sending events via the client
  .changeset/pretty-radios-work.md
  packages/inngest/src/components/Inngest.test.ts
  packages/inngest/src/components/Inngest.ts
Labels: ✨ new, 📦 inngest

#652 Move to Apache License 2.0
  packages/inngest/package.json
Labels: 📦 inngest

#653 Retry introspection tests during CI
  packages/inngest/src/test/helpers.ts
Labels: 💡 KTLO, 📦 inngest

#654 Add CI checks for Node 22 support
  .github/workflows/pr.yml
Labels: 💡 KTLO

#655 Do not allow objectish `[]` event data; only actual objects
  .changeset/cool-kiwis-cheer.md
  packages/inngest/src/components/EventSchemas.test.ts
  packages/inngest/src/components/EventSchemas.ts
Labels: Bug, 📦 inngest

#660 Revert "Do not allow objectish `[]` event data; only actual objects"
  .changeset/quiet-kids-build.md
  packages/inngest/src/components/EventSchemas.test.ts
  packages/inngest/src/components/EventSchemas.ts
Labels: Bug, 📦 inngest

#665 Add `inngest.setEnvVars(env)` to set env vars late on the client
  .changeset/tidy-birds-sin.md
  packages/inngest/src/api/api.ts
  packages/inngest/src/components/Inngest.test.ts
  packages/inngest/src/components/Inngest.ts
  packages/inngest/src/helpers/env.ts
Labels: ✨ new, prerelease/inngest, ⬆️ improvement, 📦 inngest

#667 Fix event key hash when not set
  .changeset/cold-eggs-smash.md
  packages/inngest/src/components/InngestCommHandler.ts
Labels: 📦 inngest
