Repository inngest/inngest-js, pull requests merged in 2024-03, with the labels that each got.

#507 Fix `GetFunctionOutput` typing resulting in `{}`
  .changeset/brown-ways-sort.md
  packages/inngest/src/components/Inngest.test.ts
  packages/inngest/src/components/Inngest.ts
Labels: Bug, prerelease/inngest, 📦 inngest

#511 Test against `typescript@~5.4.0` instead of `typescript@rc`
  .github/workflows/pr.yml
Labels: 💡 KTLO, 📦 inngest

#497 INN-2819 ✨ Multi-trigger functions
  .changeset/gold-wolves-decide.md
  .gitattributes
  .github/workflows/pr.yml
  packages/inngest/.gitignore
  packages/inngest/api-extractor.json
  packages/inngest/etc/inngest.api.md
  packages/inngest/package.json
  packages/inngest/src/components/EventSchemas.test.ts
  packages/inngest/src/components/EventSchemas.ts
  packages/inngest/src/components/Inngest.test.ts
  packages/inngest/src/components/Inngest.ts
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/components/InngestFunction.test.ts
  packages/inngest/src/components/InngestFunction.ts
  packages/inngest/src/components/InngestFunctionReference.ts
  packages/inngest/src/components/InngestMiddleware.ts
  packages/inngest/src/components/InngestStepTools.test.ts
  packages/inngest/src/components/InngestStepTools.ts
  packages/inngest/src/components/execution/v0.ts
  packages/inngest/src/components/execution/v1.ts
  packages/inngest/src/fastify.ts
  packages/inngest/src/helpers/consts.ts
  packages/inngest/src/helpers/functions.test.ts
  packages/inngest/src/helpers/types.ts
  packages/inngest/src/index.ts
  packages/inngest/src/test/functions/index.ts
  packages/inngest/src/test/functions/multiple-triggers/index.test.ts
  packages/inngest/src/test/functions/multiple-triggers/index.ts
  packages/inngest/src/test/helpers.ts
  packages/inngest/src/types.ts
  packages/inngest/test/composite_project/src/index.ts
  pnpm-lock.yaml
Labels: ✨ new, prerelease/inngest, 📦 inngest

#522 Fix integration tests sending events
  packages/inngest/package.json
  packages/inngest/src/test/helpers.ts
  pnpm-lock.yaml
Labels: 💡 KTLO, 📦 inngest

#519 When timing out during parallel recovery, try to log the step name
  .changeset/forty-schools-sell.md
  packages/inngest/src/components/InngestCommHandler.ts
Labels: 💡 KTLO, 🧑‍💻 dx, 📦 inngest

#521 INN-2880 Add warning if `fetch` fails and is a custom implementation
  .changeset/moody-plants-grow.md
  packages/inngest/src/helpers/env.ts
  packages/inngest/src/types.ts
Labels: ⬆️ improvement, 📦 inngest

#518 INN-2861 No longer execute `step.sendEvent()` inline
  .changeset/brave-bikes-pull.md
  packages/inngest/src/components/InngestStepTools.ts
  packages/inngest/src/components/execution/v0.ts
  packages/inngest/src/components/execution/v1.ts
Labels: Bug, 📦 inngest

#525 Use slugs for ids
  packages/inngest/README.md
Labels: 🧑‍💻 dx, 📦 inngest

#526 Comment the unknown `BRANCH_NAME` env var; we shouldn't use it
  packages/inngest/src/helpers/consts.ts
Labels: 💡 KTLO, 📦 inngest

#527 Remove `@inngest/eslint-plugin` alpha warnings; it's in use
  .changeset/witty-teachers-rhyme.md
  packages/eslint-plugin/README.md
Labels: 💡 KTLO, 📦 @inngest/eslint-plugin
