Repository inngest/inngest-js, pull requests merged in 2024-02, with the labels that each got.

#479 Fix requiring enum value when using an internal event as a trigger
  .changeset/hungry-mice-appear.md
  packages/inngest/etc/inngest.api.md
  packages/inngest/src/components/EventSchemas.test.ts
  packages/inngest/src/components/EventSchemas.ts
  packages/inngest/src/helpers/consts.ts
Labels: Bug, 📦 inngest

#480 Fix `GetEvents<>` helper returning internal events by default
  .changeset/great-shoes-study.md
  packages/inngest/etc/inngest.api.md
  packages/inngest/src/components/EventSchemas.test.ts
  packages/inngest/src/components/Inngest.test.ts
  packages/inngest/src/components/Inngest.ts
  packages/inngest/src/helpers/types.ts
  packages/inngest/src/index.ts
  packages/inngest/src/types.ts
Labels: Bug, 📦 inngest

#484 Add `timeout` to `step.invoke()` options
  .changeset/shaggy-crabs-type.md
  packages/inngest/src/components/InngestStepTools.test.ts
  packages/inngest/src/components/InngestStepTools.ts
Labels: ✨ new, 📦 inngest

#485 Remove `as string` casting of `unknown `error` when parsing API errors
  .changeset/mighty-grapes-sell.md
  packages/inngest/src/api/api.ts
  packages/inngest/src/helpers/errors.ts
Labels: Bug, 📦 inngest

#493 Fix mutating default register URL across requests
  .changeset/tough-jokes-vanish.md
  packages/inngest/src/components/InngestCommHandler.ts
Labels: Bug, 📦 inngest

#489 Add generic function invocation event to all event schemas
  .changeset/violet-phones-provide.md
  packages/inngest/etc/inngest.api.md
  packages/inngest/src/components/EventSchemas.test.ts
  packages/inngest/src/components/EventSchemas.ts
  packages/inngest/src/helpers/consts.ts
  packages/inngest/src/index.ts
  packages/inngest/src/types.ts
Labels: Bug, 📦 inngest

#492 Fix delayed environment variables not using event key
  .changeset/gorgeous-cooks-talk.md
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/test/helpers.ts
Labels: Bug, 📦 inngest

#498 Add keywords to the npm package
  .changeset/rare-horses-train.md
  packages/inngest/README.md
  packages/inngest/package.json
Labels: 💡 KTLO, 📦 inngest

#488 INN-2754 Add support for `INNGEST_DEV`
  .changeset/many-elephants-smoke.md
  packages/inngest/etc/inngest.api.md
  packages/inngest/src/components/Inngest.test.ts
  packages/inngest/src/components/Inngest.ts
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/helpers/consts.ts
  packages/inngest/src/helpers/env.ts
  packages/inngest/src/test/helpers.ts
  packages/inngest/src/types.ts
Labels: prerelease/inngest, ⬆️ improvement, 📦 inngest

#501 Test for `composite: true` errors in CI, ensuring we can't ship those issues
  .changeset/three-worms-hammer.md
  .github/workflows/pr.yml
  packages/inngest/.eslintrc.js
  packages/inngest/etc/inngest.api.md
  packages/inngest/package.json
  packages/inngest/src/index.ts
  packages/inngest/src/types.ts
  packages/inngest/test/composite_project/.gitignore
  packages/inngest/test/composite_project/README.md
  packages/inngest/test/composite_project/package.json
  packages/inngest/test/composite_project/src/index.ts
  packages/inngest/test/composite_project/tsconfig.json
Labels: Bug, prerelease/inngest, 📦 inngest
