Repository inngest/inngest-js, pull requests merged in 2024-04, with the labels that each got.

#538 Fix/bug nested name object
  .changeset/cyan-camels-tap.md
  packages/inngest/src/helpers/jsonify.test.ts
  packages/inngest/src/helpers/jsonify.ts
Labels: Bug, prerelease/inngest, 📦 inngest

#536 Do not swallow JSON parsing error when syncing
  .changeset/hungry-islands-fly.md
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/test/helpers.ts
Labels: Bug, 📦 inngest

#520 INN-2882 Add selective header forwarding when sending events
  .changeset/gold-crews-fly.md
  packages/inngest/src/components/Inngest.ts
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/components/InngestFunction.test.ts
  packages/inngest/src/components/InngestStepTools.ts
  packages/inngest/src/components/execution/InngestExecution.ts
  packages/inngest/src/components/execution/v0.ts
  packages/inngest/src/components/execution/v1.ts
  packages/inngest/src/helpers/consts.ts
  packages/inngest/src/test/helpers.ts
Labels: ✨ new, prerelease/inngest, 📦 inngest

#549 Add step name or ID when there’s a NESTING_STEPS error
  .changeset/three-shoes-shave.md
  packages/inngest/src/components/execution/v1.ts
Labels: ⬆️ improvement, 📦 inngest

#539 add framework support for Hono
  .changeset/chatty-ducks-mate.md
  examples/framework-hono/.gitignore
  examples/framework-hono/README.md
  examples/framework-hono/package.json
  examples/framework-hono/src/index.ts
  examples/framework-hono/src/inngest/client.ts
  examples/framework-hono/src/inngest/helloWorld.ts
  examples/framework-hono/src/inngest/index.ts
  examples/framework-hono/src/inngest/types.ts
  examples/framework-hono/tsconfig.json
  examples/framework-hono/wrangler.toml
  packages/inngest/.eslintrc.js
  packages/inngest/package.json
  packages/inngest/scripts/checkDependencies.ts
  packages/inngest/src/hono.test.ts
  packages/inngest/src/hono.ts
  packages/inngest/src/types.ts
  pnpm-lock.yaml
Labels: ✨ new, prerelease/inngest, 📦 inngest

#554 Upgrade `tsx` in the `framework-fastify` example to be Node 18 compat
  examples/framework-fastify/package.json
Labels: 💡 KTLO

#533 Add Express framework example
  examples/framework-express/.gitignore
  examples/framework-express/README.md
  examples/framework-express/index.ts
  examples/framework-express/inngest/client.ts
  examples/framework-express/inngest/helloWorld.ts
  examples/framework-express/inngest/index.ts
  examples/framework-express/inngest/types.ts
  examples/framework-express/package.json
  examples/framework-express/tsconfig.json
Labels: 🧑‍💻 dx
