Repository inngest/inngest-js, pull requests merged in 2024-11, with the labels that each got.

#739 Fix in-band sync URL
  .changeset/unlucky-actors-sparkle.md
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/test/helpers.ts
  packages/inngest/src/types.ts
Labels: Bug, 📦 inngest

#743 Fix `next` JSR export
  packages/inngest/src/next.ts
Labels: 💡 KTLO, 📦 inngest

#748 `step.ai.wrap()` editing
  packages/inngest/src/api/schema.ts
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/components/InngestStepTools.ts
  packages/inngest/src/components/execution/v1.ts
  packages/inngest/src/types.ts
Labels: 📦 inngest

#749 Fix missing errors when rejecting execution
  .changeset/four-tips-eat.md
  packages/test/src/InngestTestEngine.ts
Labels: 📦 @inngest/test

#747 move step.ai -> step.ai.wrap and rough out step.ai.infer
  .changeset/perfect-guests-eat.md
  packages/inngest/src/api/schema.ts
  packages/inngest/src/cloudflare.ts
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/components/InngestStepTools.test.ts
  packages/inngest/src/components/InngestStepTools.ts
  packages/inngest/src/components/ai/index.ts
  packages/inngest/src/components/ai/provider.ts
  packages/inngest/src/components/ai/providers/openai.ts
  packages/inngest/src/components/execution/v0.ts
  packages/inngest/src/components/execution/v1.ts
  packages/inngest/src/helpers/consts.ts
  packages/inngest/src/index.ts
  packages/inngest/src/types.ts
Labels: prerelease/inngest, 📦 inngest

#752 Allow editing `step.ai.infer()`
  .changeset/late-planes-travel.md
  packages/inngest/src/components/execution/v1.ts
Labels: prerelease/inngest, 📦 inngest

#754 Move providers to adapters and models
  .changeset/rude-beds-complain.md
  packages/inngest/src/components/InngestStepTools.test.ts
  packages/inngest/src/components/InngestStepTools.ts
  packages/inngest/src/components/ai/adapter.ts
  packages/inngest/src/components/ai/adapters/openai.ts
  packages/inngest/src/components/ai/index.ts
  packages/inngest/src/components/ai/models/gemini.ts
  packages/inngest/src/components/ai/models/openai.ts
  packages/inngest/src/components/ai/provider.ts
  packages/inngest/src/helpers/consts.ts
Labels: prerelease/inngest, 📦 inngest

#758 Fix OpenAI `tools` types
  .changeset/clever-jobs-hammer.md
  packages/inngest/src/components/ai/adapters/openai.ts
Labels: 📦 inngest

#756 Expose a type that lists the `AiAdapter` for each format
  .changeset/warm-cameras-yell.md
  packages/inngest/src/components/ai/adapter.ts
  packages/inngest/src/components/ai/index.ts
Labels: prerelease/inngest, 📦 inngest

#760 Ensure support for `typescript@~5.7.0`
  .changeset/weak-worms-scream.md
  .github/workflows/pr.yml
  packages/inngest/package.json
  packages/inngest/tsconfig.json
  pnpm-lock.yaml
Labels: 💡 KTLO, 📦 inngest

#762 `ai.infer`: anthropic types and adapters
  .changeset/twenty-buttons-retire.md
  packages/inngest/src/components/ai/adapter.ts
  packages/inngest/src/components/ai/adapters/anthropic.ts
  packages/inngest/src/components/ai/index.ts
  packages/inngest/src/components/ai/models/anthropic.ts
  packages/inngest/src/components/ai/models/openai.ts
  packages/inngest/src/helpers/consts.ts
Labels: 📦 inngest

#744 Add `@inngest/middleware-validation`
  .changeset/quick-buckets-cover.md
  .github/workflows/pr.yml
  packages/middleware-validation/.gitignore
  packages/middleware-validation/CHANGELOG.md
  packages/middleware-validation/LICENSE.md
  packages/middleware-validation/README.md
  packages/middleware-validation/eslint.config.js
  packages/middleware-validation/jest.config.js
  packages/middleware-validation/jsr.json
  packages/middleware-validation/package.json
  packages/middleware-validation/pnpm-lock.yaml
  packages/middleware-validation/src/index.ts
  packages/middleware-validation/src/middleware.test.ts
  packages/middleware-validation/src/middleware.ts
  packages/middleware-validation/tsconfig.build.json
  packages/middleware-validation/tsconfig.json
  pnpm-lock.yaml
Labels: ✨ new, 📦 @inngest/middleware-validation

#763 Fix 404 error if releasing a new package
  scripts/release/publish.js
Labels: 💡 KTLO
