Repository inngest/inngest-js, pull requests merged in 2024-08, with the labels that each got.

#669 Update no-nested-steps.ts
  .changeset/heavy-files-try.md
  packages/eslint-plugin/src/rules/no-nested-steps.test.ts
  packages/eslint-plugin/src/rules/no-nested-steps.ts
Labels: Bug, 📦 @inngest/eslint-plugin

#675 `bun remove` before installing deps and running examples
  packages/inngest/scripts/runExample.ts
Labels: 💡 KTLO, 📦 inngest

#671 Add `Error.cause` (de)serialization
  .changeset/orange-badgers-guess.md
  packages/inngest/src/api/schema.ts
  packages/inngest/src/components/StepError.ts
  packages/inngest/src/components/execution/v0.ts
  packages/inngest/src/components/execution/v1.ts
  packages/inngest/src/helpers/errors.ts
  packages/inngest/src/test/functions/handling-step-errors/index.test.ts
  packages/inngest/src/test/functions/handling-step-errors/index.ts
  packages/inngest/src/types.ts
Labels: Bug, 📦 inngest

#677 Fix wrong URL in getTargetUrl
  .changeset/dirty-bats-pay.md
  packages/inngest/src/api/api.ts
Labels: prerelease/inngest, 📦 inngest

#674 Add trust probes and response signing
  .changeset/young-items-stare.md
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/h3.ts
  packages/inngest/src/helpers/consts.ts
  packages/inngest/src/helpers/enum.ts
  packages/inngest/src/helpers/net.ts
  packages/inngest/src/test/helpers.ts
  packages/inngest/src/types.ts
Labels: ✨ new, prerelease/inngest, 📦 inngest

#673 Add event id as sentry tag
  .changeset/light-balloons-repeat.md
  packages/middleware-sentry/src/middleware.ts
Labels: 📦 @inngest/middleware-sentry

#682 Fix empty response body when streaming
  .changeset/forty-elephants-think.md
  .github/workflows/pr.yml
  examples/framework-nextjs-app-router/src/app/api/inngest/route.ts
  packages/inngest/src/helpers/stream.ts
Labels: prerelease/inngest, 📦 inngest

#690 Fix 401 on missing sig header during inspection
  .changeset/breezy-countries-whisper.md
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/test/helpers.ts
Labels: Bug, 📦 inngest

#687 fix(inngest): add `JsonError` export from `types`
  .changeset/wise-knives-argue.md
  packages/inngest/src/index.ts
  packages/inngest/test/composite_project/src/index.ts
Labels: Bug, 📦 inngest
