Repository inngest/inngest-js, pull requests merged in 2024-10, with the labels that each got.

#721 Support Next.js 15
  .changeset/clever-pets-relax.md
  packages/inngest/src/next.ts
Labels: prerelease/inngest, 📦 inngest

#723 Change author in package.json files
  packages/eslint-plugin/package.json
  packages/inngest/package.json
  packages/middleware-encryption/package.json
  packages/middleware-sentry/package.json
  packages/test/package.json
Labels: 📦 inngest, 📦 @inngest/eslint-plugin, 📦 @inngest/middleware-encryption, 📦 @inngest/middleware-sentry, 📦 @inngest/test

#702 Add support for in-band syncing
  .changeset/dry-moons-doubt.md
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/helpers/consts.ts
  packages/inngest/src/helpers/env.ts
  packages/inngest/src/test/helpers.ts
  packages/inngest/src/types.ts
Labels: ✨ new, 📦 inngest

#704 Initial `@inngest/test` package
  .changeset/violet-bikes-study.md
  packages/test/.gitignore
  packages/test/CHANGELOG.md
  packages/test/README.md
  packages/test/package.json
  packages/test/src/InngestTestEngine.ts
  packages/test/src/InngestTestRun.ts
  packages/test/src/spy.ts
  packages/test/src/util.ts
  packages/test/tsconfig.json
  pnpm-lock.yaml
Labels: 📦 @inngest/test, prerelease/test

#657 Expose `EventSchemas` in `Inngest` instances
  .changeset/mean-brooms-pull.md
  packages/inngest/src/components/EventSchemas.ts
  packages/inngest/src/components/Inngest.ts
Labels: prerelease/inngest, ⬆️ improvement, 📦 inngest

#725 Make `@inngest/test` -> `inngest` a regular dependency
  packages/middleware-encryption/package.json
  packages/test/package.json
  pnpm-lock.yaml
Labels: Bug, 📦 @inngest/middleware-encryption, 📦 @inngest/test

#729 Fix error when PUT is missing body
  .changeset/bright-waves-sip.md
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/helpers/consts.ts
  packages/inngest/src/remix.test.ts
  packages/inngest/src/test/helpers.ts
Labels: 📦 inngest

#733 Add timeouts to function configuration
  .changeset/proud-pets-stare.md
  packages/inngest/src/components/InngestFunction.ts
  packages/inngest/src/types.ts
Labels: 📦 inngest
