Repository inngest/inngest-js, pull requests merged in 2024-01, with the labels that each got.

#444 Make sure to build all packages before shipping
  .changeset/shaggy-elephants-act.md
  package.json
Labels: 💡 KTLO

#446 Fix release builds running wrong npm script
  .changeset/proud-scissors-begin.md
  package.json
Labels: 💡 KTLO

#442 Add Astro framework example
  examples/framework-astro/.gitignore
  examples/framework-astro/README.md
  examples/framework-astro/astro.config.mjs
  examples/framework-astro/package.json
  examples/framework-astro/public/favicon.svg
  examples/framework-astro/src/components/Card.astro
  examples/framework-astro/src/env.d.ts
  examples/framework-astro/src/inngest/client.ts
  examples/framework-astro/src/inngest/helloWorld.ts
  examples/framework-astro/src/inngest/index.ts
  examples/framework-astro/src/inngest/types.ts
  examples/framework-astro/src/layouts/Layout.astro
  examples/framework-astro/src/pages/api/inngest.ts
  examples/framework-astro/src/pages/index.astro
  examples/framework-astro/tsconfig.json
  packages/inngest/scripts/checkDependencies.ts
  packages/inngest/src/astro.test.ts
  packages/inngest/src/astro.ts
Labels: 📦 inngest

#441 Add Astro framework handler
  .changeset/chilly-shirts-worry.md
  examples/framework-astro/.gitignore
  examples/framework-astro/README.md
  examples/framework-astro/astro.config.mjs
  examples/framework-astro/package.json
  examples/framework-astro/public/favicon.svg
  examples/framework-astro/src/components/Card.astro
  examples/framework-astro/src/env.d.ts
  examples/framework-astro/src/inngest/client.ts
  examples/framework-astro/src/inngest/helloWorld.ts
  examples/framework-astro/src/inngest/index.ts
  examples/framework-astro/src/inngest/types.ts
  examples/framework-astro/src/layouts/Layout.astro
  examples/framework-astro/src/pages/api/inngest.ts
  examples/framework-astro/src/pages/index.astro
  examples/framework-astro/tsconfig.json
  packages/inngest/package.json
  packages/inngest/scripts/checkDependencies.ts
  packages/inngest/src/astro.test.ts
  packages/inngest/src/astro.ts
  packages/inngest/src/types.ts
  pnpm-lock.yaml
Labels: 📦 inngest

#453 Pass serve handler arguments to middleware to access req-only data
  .changeset/cuddly-moons-behave.md
  packages/inngest/etc/inngest.api.md
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/components/InngestFunction.test.ts
  packages/inngest/src/components/InngestMiddleware.test.ts
  packages/inngest/src/components/InngestMiddleware.ts
  packages/inngest/src/components/execution/InngestExecution.ts
  packages/inngest/src/components/execution/v0.ts
  packages/inngest/src/components/execution/v1.ts
Labels: ✨ new, 📦 inngest

#460 Fix a TS error when using Inngest in projects with `composite` setting
  .changeset/tall-hornets-beg.md
  packages/inngest/etc/inngest.api.md
  packages/inngest/src/index.ts
  packages/inngest/src/types.ts
Labels: 🐞 bug, 📦 inngest

#449 Allow specifying `function` with `appId` when invoking
  .changeset/sharp-donkeys-rule.md
  packages/inngest/.eslintrc.js
  packages/inngest/etc/inngest.api.md
  packages/inngest/src/components/Inngest.ts
  packages/inngest/src/components/InngestFunctionReference.ts
  packages/inngest/src/components/InngestStepTools.test.ts
  packages/inngest/src/components/InngestStepTools.ts
  packages/inngest/src/helpers/validators/index.ts
  packages/inngest/src/index.ts
  packages/inngest/src/types.ts
Labels: ⬆️ improvement, 📦 inngest

#459 Export `[component].Any` types as helpers
  .changeset/weak-olives-cross.md
  packages/inngest/etc/inngest.api.md
  packages/inngest/src/components/Inngest.ts
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/components/InngestFunction.test.ts
  packages/inngest/src/components/InngestFunction.ts
  packages/inngest/src/components/InngestFunctionReference.ts
  packages/inngest/src/components/InngestMiddleware.ts
  packages/inngest/src/components/execution/InngestExecution.ts
  packages/inngest/src/components/execution/v0.ts
  packages/inngest/src/components/execution/v1.ts
  packages/inngest/src/helpers/functions.ts
  packages/inngest/src/types.ts
Labels: ⬆️ improvement, 📦 inngest

#463 Fix `data` not being required during invocation with a schema+reference
  .changeset/nervous-fishes-appear.md
  packages/inngest/etc/inngest.api.md
  packages/inngest/src/components/InngestFunctionReference.ts
  packages/inngest/src/components/InngestStepTools.test.ts
Labels: 🐞 bug, 📦 inngest

#464 Refresh Astro example
  examples/framework-astro/README.md
  examples/framework-astro/package.json
  examples/framework-astro/src/inngest/client.ts
  examples/framework-astro/src/inngest/helloWorld.ts
  examples/framework-astro/src/inngest/types.ts
  examples/framework-astro/src/pages/api/helloAstro.ts
  examples/framework-astro/src/pages/api/inngest.ts
  examples/framework-astro/src/pages/index.astro
Labels: 🧑‍💻 dx

#462 Allow a single-element `concurrency` option in function definitions
  .changeset/rotten-frogs-jog.md
  packages/inngest/etc/inngest.api.md
  packages/inngest/src/helpers/types.test.ts
  packages/inngest/src/helpers/types.ts
  packages/inngest/src/types.ts
Labels: Bug, 📦 inngest

#466 Fix some out-of-date comments and examples
  .changeset/smooth-panthers-change.md
  packages/inngest/etc/inngest.api.md
  packages/inngest/src/components/EventSchemas.ts
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/components/InngestStepTools.ts
  packages/inngest/src/test/functions/handler.ts
  packages/inngest/src/types.ts
Labels: 💡 KTLO, 📦 inngest

#467 Add timeout to debounce
  .changeset/ten-mayflies-count.md
  packages/inngest/etc/inngest.api.md
  packages/inngest/src/types.ts
Labels: 📦 inngest

#411 Handle per-step errors and returning error data
  .changeset/fair-seahorses-push.md
  packages/inngest/etc/inngest.api.md
  packages/inngest/scripts/integrationTestRunner.ts
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/components/InngestFunction.test.ts
  packages/inngest/src/components/StepError.ts
  packages/inngest/src/components/execution/InngestExecution.ts
  packages/inngest/src/components/execution/v0.ts
  packages/inngest/src/components/execution/v1.ts
  packages/inngest/src/index.ts
  packages/inngest/src/test/functions/handling-step-errors/index.test.ts
  packages/inngest/src/test/functions/handling-step-errors/index.ts
  packages/inngest/src/test/functions/index.ts
  packages/inngest/src/test/functions/unhandled-step-errors/index.test.ts
  packages/inngest/src/test/functions/unhandled-step-errors/index.ts
  packages/inngest/src/test/helpers.ts
  packages/inngest/src/types.ts
Labels: ✨ new, prerelease/inngest, 📦 inngest

#476 Make `data.error` parsing for `inngest/function.failed` more resilient
  .changeset/blue-owls-drive.md
  packages/inngest/etc/inngest.api.md
  packages/inngest/src/types.ts
Labels: ⬆️ improvement, 📦 inngest

#475 Add first-class `"inngest/bun"` serve handler
  .changeset/proud-crabs-stare.md
  packages/inngest/package.json
  packages/inngest/src/bun.test.ts
  packages/inngest/src/bun.ts
  packages/inngest/src/types.ts
Labels: ✨ new, 📦 inngest

#474 Use `StepError`s for unhandled error catching
  .changeset/wild-tables-pump.md
  packages/inngest/src/components/InngestStepTools.ts
  packages/inngest/src/components/execution/v1.ts
  packages/inngest/src/test/functions/step-invoke-not-found/index.test.ts
Labels: prerelease/inngest, ⬆️ improvement, 📦 inngest

#478 Remove sending `hash` when registering; not used or required
  .changeset/lazy-lies-film.md
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/types.ts
Labels: 💡 KTLO, 📦 inngest
