Repository inngest/inngest-js, pull requests merged in 2024-06, with the labels that each got.

#591 Update introspection to version 2024-05-24
  packages/inngest/src/components/Inngest.ts
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/helpers/strings.ts
  packages/inngest/src/types.ts
Labels: 📦 inngest

#594 Fix typing for `"inngest/lambda"` handler being incorrect Proxy type
  .changeset/tame-wolves-swim.md
  packages/inngest/src/lambda.ts
Labels: Bug, 📦 inngest

#595 Set explicit return types for `"inngest/fastify"`
  .changeset/brave-camels-appear.md
  packages/inngest/src/fastify.ts
Labels: ⬆️ improvement, 📦 inngest

#599 Widen `@sveltejs/kit` peer dep range to `>=1.27.3` from `^1.27.3`
  .changeset/tiny-tips-cover.md
  packages/inngest/package.json
Labels: 💡 KTLO, 📦 inngest

#597 Fix/incorrect custom fetch wrapping
  .changeset/hip-steaks-pay.md
  .changeset/sixty-walls-cough.md
  packages/inngest/src/api/api.ts
  packages/inngest/src/components/InngestCommHandler.test.ts
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/helpers/env.ts
Labels: Bug, prerelease/inngest, 📦 inngest

#604 Give all serve-related peer deps a larger range and make them optional
  .changeset/healthy-needles-glow.md
  .changeset/new-cups-kiss.md
  packages/inngest/package.json
  packages/middleware-encryption/package.json
Labels: 💡 KTLO, 📦 inngest, 📦 @inngest/middleware-encryption

#606 Clean/prune lockfile
  pnpm-lock.yaml
Labels: 💡 KTLO

#607 Add TypeScript 5.5 RC tests
  .github/workflows/pr.yml
Labels: 💡 KTLO

#608 Remove Renovate
  .github/workflows/pr-task-list-checker.yml
  .github/workflows/pr.yml
  renovate.json
Labels: 💡 KTLO

#612 Fix event key hash assuming hex
  .changeset/mighty-queens-rest.md
  packages/inngest/src/helpers/strings.ts
Labels: Bug, 📦 inngest

#614 Fix missing path when using INNGEST_DEV URL
  .changeset/polite-carrots-reply.md
  packages/inngest/src/components/InngestCommHandler.ts
Labels: Bug, 📦 inngest

#611 Add support for global `Netlify.env` objects
  .changeset/famous-gorillas-run.md
  packages/inngest/src/helpers/env.ts
Labels: Bug, prerelease/inngest, 📦 inngest

#615 Add maximum recursion depth for object path finding
  .changeset/sharp-suns-poke.md
  packages/inngest/src/components/InngestStepTools.ts
  packages/inngest/src/helpers/types.ts
Labels: ⬆️ improvement, 📦 inngest

#619 Fix `"inngest/cloudflare"` not supporting Cloudflare Workers
  .changeset/orange-monkeys-confess.md
  packages/inngest/src/cloudflare.ts
Labels: Bug, prerelease/inngest, 📦 inngest

#618 Remove `private` modifier from `createExecution` method on `InngestFunction`
  .changeset/quiet-pumas-relax.md
  packages/inngest/src/components/InngestFunction.test.ts
  packages/inngest/src/components/InngestFunction.ts
  packages/inngest/src/helpers/types.ts
  packages/inngest/src/types.ts
Labels: ⬆️ improvement, 📦 inngest

#623 Upgrade to TypeScript 5.5
  .changeset/pretty-icons-arrive.md
  .github/workflows/pr.yml
  packages/eslint-plugin/package.json
  packages/inngest/package.json
  packages/inngest/src/helpers/ServerTiming.ts
  packages/middleware-encryption/package.json
  pnpm-lock.yaml
Labels: 💡 KTLO, 📦 inngest, 📦 @inngest/eslint-plugin, 📦 @inngest/middleware-encryption

#626 export type ScheduledTimerEventPayload
  .changeset/tame-mirrors-clean.md
  packages/inngest/src/index.ts
Labels: ⬆️ improvement, 📦 inngest

#625 Log invalid function config
  .changeset/slimy-dragons-kiss.md
  packages/inngest/scripts/integrationTestRunner.ts
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/test/helpers.ts
  packages/inngest/src/types.ts
Labels: ⬆️ improvement, 📦 inngest

#628 Remove inspect message
  .changeset/tidy-islands-suffer.md
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/types.ts
Labels: 📦 inngest
