Repository inngest/inngest-js, pull requests merged in 2025-04, with the labels that each got.

#934 Push `runId` when publishing
  .changeset/happy-carrots-switch.md
  packages/inngest/src/api/api.ts
Labels: Bug, ⬆️ improvement, 📦 inngest

#930 Fix bad message parsing in realtime
  .changeset/old-tigers-watch.md
  .changeset/warm-balloons-work.md
  packages/realtime/package.json
  packages/realtime/src/middleware.ts
  packages/realtime/src/types.ts
  pnpm-lock.yaml
Labels: Bug, 📦 @inngest/realtime, prerelease/realtime

#938 Remove deprecated batch size copy
  .changeset/cuddly-rockets-protect.md
  packages/inngest/src/components/InngestFunction.ts
Labels: 💡 KTLO, 📦 inngest

#942 Add cancelled event to internal known schemas
  .changeset/happy-swans-melt.md
  packages/inngest/src/components/EventSchemas.test.ts
  packages/inngest/src/components/EventSchemas.ts
  packages/inngest/src/components/Inngest.test.ts
  packages/inngest/src/helpers/consts.ts
  packages/inngest/src/types.ts
Labels: Bug, ⬆️ improvement, 📦 inngest

#944 Use x-inngest-event-id-seed header
  .changeset/brown-radios-enjoy.md
  packages/inngest/src/components/Inngest.test.ts
  packages/inngest/src/components/Inngest.ts
  packages/inngest/src/helpers/consts.ts
  packages/inngest/src/helpers/crypto.ts
  packages/inngest/src/test/helpers.ts
Labels: 📦 inngest

#937 Normalize Lambda headers for mocked requests
  .changeset/eleven-ghosts-behave.md
  packages/inngest/src/lambda.test.ts
  packages/inngest/src/lambda.ts
Labels: Bug, prerelease/inngest, 📦 inngest

#949 Remove `inngest` from `@inngest/realtime`
  .changeset/chatty-pandas-know.md
  .changeset/early-hotels-doubt.md
  .changeset/early-impalas-camp.md
  .changeset/rotten-dolphins-try.md
  packages/realtime/src/api.ts
  packages/realtime/src/hooks.ts
  packages/realtime/src/index.test.ts
  packages/realtime/src/subscribe/TokenSubscription.ts
  packages/realtime/src/subscribe/helpers.ts
  packages/realtime/src/util.ts
Labels: Bug, ⬆️ improvement, 📦 @inngest/realtime, prerelease/realtime

#912 Add `step.fetch` export
  .changeset/fifty-adults-heal.md
  packages/inngest/src/components/Fetch.ts
  packages/inngest/src/components/InngestStepTools.ts
  packages/inngest/src/index.ts
  packages/inngest/src/types.ts
Labels: ✨ new, prerelease/inngest, 📦 inngest, 🧪 experimental

#953 Fix validation middleware silently failing
  .changeset/friendly-colts-explode.md
  .github/workflows/prerelease.yml
  packages/middleware-validation/src/middleware.ts
Labels: Bug, 📦 @inngest/middleware-validation, prerelease/middleware-validation

#954 Simplify prerelease CI
  .github/workflows/prerelease.yml
  packages/test/package.json
Labels: prerelease/eslint-plugin, prerelease/middleware-sentry, prerelease/middleware-encryption, 📦 @inngest/test, prerelease/test, prerelease/ai, prerelease/realtime, prerelease/middleware-validation

#950 Add connect leases
  .changeset/rude-shrimps-arrive.md
  packages/inngest/package.json
  packages/inngest/src/components/connect/index.ts
  packages/inngest/src/components/connect/protobuf/connect.proto
  packages/inngest/src/proto/src/components/connect/protobuf/connect.ts
  pnpm-lock.yaml
Labels: prerelease/inngest, 📦 inngest

#964 Fix fanout writers throwing during some closures
  .changeset/friendly-pillows-check.md
  packages/realtime/src/subscribe/StreamFanout.ts
Labels: Bug, 📦 @inngest/realtime

#960 Fix requiring signing key for dev in `@inngest/realtime`
  .changeset/empty-cows-talk.md
  .changeset/tall-geese-confess.md
  packages/realtime/src/api.ts
  packages/realtime/src/subscribe/TokenSubscription.ts
  packages/realtime/src/util.ts
Labels: Bug, 📦 @inngest/realtime, prerelease/realtime

#959 Do not dynamically construct env vars in a browser env
  .changeset/smart-dragons-remember.md
  packages/realtime/src/api.ts
  packages/realtime/src/env.d.ts
  packages/realtime/src/env.ts
  packages/realtime/src/subscribe/TokenSubscription.ts
  packages/realtime/src/subscribe/helpers.ts
  packages/realtime/src/util.ts
Labels: Bug, 📦 @inngest/realtime, prerelease/realtime
