Repository inngest/inngest-js, pull requests merged in 2025-02, with the labels that each got.

#834 Remove connect from inngest client
  .changeset/itchy-wombats-relate.md
  packages/inngest/package.json
  packages/inngest/src/components/Inngest.ts
  packages/inngest/src/connect.ts
Labels: prerelease/inngest, 📦 inngest

#837 Rename buildId -> appVersion
  .changeset/giant-flies-grab.md
  examples/connect-example/index.ts
  packages/inngest/src/components/Inngest.ts
  packages/inngest/src/components/connect/index.ts
  packages/inngest/src/components/connect/protobuf/connect.proto
  packages/inngest/src/proto/src/components/connect/protobuf/connect.ts
  packages/inngest/src/types.ts
Labels: 📦 inngest

#838 Fix missing env for introspection and in-band sync
  .changeset/silent-seals-battle.md
  packages/inngest/src/components/InngestCommHandler.ts
Labels: prerelease/inngest, 📦 inngest

#840 Provide app version in register request
  .changeset/tender-owls-hang.md
  examples/connect-example/index.ts
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/components/connect/index.ts
  packages/inngest/src/components/connect/types.ts
  packages/inngest/src/types.ts
Labels: 📦 inngest

#843 Log used env in auth error
  packages/inngest/src/components/connect/index.ts
Labels: 📦 inngest

#842 Allow for use of `exactOptionalPropertyTypes: true`
  .changeset/proud-apes-attend.md
  packages/inngest/src/components/InngestFunction.ts
Labels: Bug, prerelease/inngest, 📦 inngest

#845 Forward tracing and parse user tracing headers
  .changeset/many-stingrays-taste.md
  packages/inngest/src/components/connect/index.ts
  packages/inngest/src/components/connect/protobuf/connect.proto
  packages/inngest/src/components/connect/util.ts
  packages/inngest/src/proto/src/components/connect/protobuf/connect.ts
Labels: 📦 inngest

#848 Fix serve ID not considered for in-band syncs
  .changeset/lovely-oranges-return.md
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/types.ts
Labels: 📦 inngest

#850 feat(ai): type error outputs + update OpenAI model list
  .changeset/gorgeous-llamas-obey.md
  .changeset/short-poems-care.md
  .github/workflows/prerelease.yml
  packages/ai/src/adapters/anthropic.ts
  packages/ai/src/adapters/openai.ts
  packages/ai/src/models/openai.ts
Labels: 📦 @inngest/ai, prerelease/ai

#852 bump `@inngest/ai`
  .changeset/cyan-cooks-call.md
  packages/inngest/package.json
  pnpm-lock.yaml
Labels: prerelease/inngest, 📦 inngest

#851 Allow multi-app connections
  .changeset/seven-students-remember.md
  examples/connect-example/index.ts
  packages/inngest/src/components/connect/index.ts
  packages/inngest/src/components/connect/protobuf/connect.proto
  packages/inngest/src/components/connect/types.ts
  packages/inngest/src/proto/src/components/connect/protobuf/connect.ts
Labels: prerelease/inngest, 📦 inngest

#856 Use client funcs for connect
  .changeset/moody-seas-bathe.md
  packages/inngest/src/components/Inngest.ts
  packages/inngest/src/components/connect/index.ts
Labels: prerelease/inngest, 📦 inngest

#858 Optimize V1 execution memoization
  .changeset/new-actors-breathe.md
  packages/inngest/src/components/execution/v1.ts
  packages/inngest/src/helpers/promises.ts
  packages/inngest/test/benchmark/execution/util.ts
Labels: prerelease/inngest, ⬆️ improvement, 📦 inngest

#864 Replace `ulid` with `ulidx`
  .changeset/beige-yaks-reply.md
  packages/inngest/package.json
  packages/inngest/src/components/Inngest.ts
  packages/inngest/src/components/connect/index.ts
  pnpm-lock.yaml
Labels: Bug, prerelease/inngest, 📦 inngest

#865 Upgrade to (and ensure support for) TS 5.8
  .changeset/hip-carrots-hammer.md
  .github/workflows/pr.yml
  packages/inngest/package.json
  pnpm-lock.yaml
Labels: 💡 KTLO, 📦 inngest
