Repository inngest/inngest-js, pull requests merged in 2025-09, with the labels that each got.

#1061 added elysia js framework guide
  examples/framework-elysiajs/.gitignore
  examples/framework-elysiajs/README.md
  examples/framework-elysiajs/package.json
  examples/framework-elysiajs/src/index.ts
  examples/framework-elysiajs/src/inngest/client.ts
  examples/framework-elysiajs/src/inngest/helloWorld.ts
  examples/framework-elysiajs/src/inngest/index.ts
  examples/framework-elysiajs/src/inngest/types.ts
  examples/framework-elysiajs/tsconfig.json
  packages/inngest/scripts/integrationTestRunner.ts
Labels: 📦 inngest

#1078 Spread options to infer
  .changeset/slimy-rings-march.md
  packages/inngest/src/components/InngestStepTools.ts
Labels: prerelease/inngest, 📦 inngest

#1091 Add streaming support to inngest/node
  .changeset/itchy-moons-yawn.md
  .github/workflows/pr.yml
  packages/inngest/src/node.ts
Labels: 📦 inngest

#1080 Support Vite's import.meta.env
  .changeset/plenty-ears-march.md
  packages/realtime/jest.config.js
  packages/realtime/package.json
  packages/realtime/src/env.ts
  packages/realtime/tsconfig.build.json
  packages/realtime/tsconfig.json
  packages/realtime/vitest.config.ts
  pnpm-lock.yaml
Labels: 📦 @inngest/realtime, prerelease/realtime

#1097 fix(agent-kit): exporting serializeError for use in agentkit
  .changeset/tricky-frogs-crash.md
  packages/inngest/src/index.ts
Labels: 📦 inngest

#1102 Add Standard Schema to `referenceFunction()`
  .changeset/fair-elephants-beg.md
  .changeset/polite-dots-fly.md
  packages/inngest/src/components/EventSchemas.test.ts
  packages/inngest/src/components/Inngest.test.ts
  packages/inngest/src/components/InngestFunction.test.ts
  packages/inngest/src/components/InngestFunctionReference.test.ts
  packages/inngest/src/components/InngestFunctionReference.ts
  packages/inngest/src/components/InngestMiddleware.test.ts
  packages/inngest/src/components/InngestStepTools.test.ts
  packages/inngest/src/helpers/jsonify.test.ts
  packages/inngest/src/helpers/promises.test.ts
  packages/inngest/src/helpers/types.test.ts
  packages/inngest/src/helpers/validators/index.ts
  packages/inngest/src/middleware/dependencyInjection.test.ts
  packages/inngest/src/test/helpers.ts
  packages/inngest/vitest.config.ts
Labels: Bug, 💡 KTLO, ⬆️ improvement, 📦 inngest

#1057 fix(realtime): do not fetch token on mount if the hook is disabled
  .changeset/fluffy-flies-hug.md
  packages/realtime/src/hooks.ts
Labels: Bug, 📦 @inngest/realtime

#1104 Weekly flake bumps
  .github/workflows/flake.yml
  flake.nix
Labels: 💡 KTLO
