Repository inngest/inngest-js, pull requests merged in 2025-07, with the labels that each got.

#1020 obscure "node:async_hooks" import from bundlers
  .changeset/fair-seals-rush.md
  packages/inngest/src/components/execution/als.ts
Labels: Bug, 📦 inngest

#1022 feat(@inngest/test): allow passing `reqArgs`
  .changeset/tasty-shrimps-notice.md
  packages/test/README.md
  packages/test/src/InngestTestEngine.ts
Labels: ⬆️ improvement, 📦 @inngest/test

#1031 Add support for latest generation + thinking config in Gemini models
  .changeset/dry-geckos-fold.md
  package.json
  packages/ai/.env.example
  packages/ai/.gitignore
  packages/ai/README.md
  packages/ai/eslint.config.mjs
  packages/ai/package.json
  packages/ai/src/adapter.ts
  packages/ai/src/adapters/anthropic.ts
  packages/ai/src/adapters/azure-openai.ts
  packages/ai/src/adapters/gemini.ts
  packages/ai/src/models/anthropic.ts
  packages/ai/src/models/azure-openai.ts
  packages/ai/src/models/gemini.ts
  packages/ai/src/models/grok.ts
  packages/ai/test/smoke/gemini.smoke.test.ts
  packages/ai/test/unit/gemini.unit.test.ts
  packages/ai/tsconfig.json
  packages/ai/vitest.config.ts
  packages/ai/vitest.smoke.config.ts
  packages/inngest/tsconfig.json
  pnpm-lock.yaml
Labels: 📦 inngest, 📦 @inngest/ai

#1036 Upgrade to Biome v2; fix issues
  biome.json
  package.json
  packages/inngest/package.json
  packages/inngest/scripts/checkDependencies.ts
  packages/inngest/scripts/integrationTestRunner.ts
  packages/inngest/scripts/runExample.ts
  packages/inngest/src/api/api.ts
  packages/inngest/src/components/Fetch.ts
  packages/inngest/src/components/Inngest.ts
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/components/InngestFunction.test.ts
  packages/inngest/src/components/InngestFunction.ts
  packages/inngest/src/components/InngestStepTools.test.ts
  packages/inngest/src/components/InngestStepTools.ts
  packages/inngest/src/components/connect/index.ts
  packages/inngest/src/components/execution/InngestExecution.ts
  packages/inngest/src/components/execution/otel/access.ts
  packages/inngest/src/components/execution/otel/middleware.ts
  packages/inngest/src/components/execution/otel/processor.ts
  packages/inngest/src/components/execution/otel/util.ts
  packages/inngest/src/components/execution/v0.ts
  packages/inngest/src/components/execution/v1.ts
  packages/inngest/src/components/execution/v2.ts
  packages/inngest/src/experimental.ts
  packages/inngest/src/h3.ts
  packages/inngest/src/helpers/devserver.ts
  packages/inngest/src/helpers/env.ts
  packages/inngest/src/helpers/errors.ts
  packages/inngest/src/helpers/functions.ts
  packages/inngest/src/index.ts
  packages/inngest/src/middleware/dependencyInjection.ts
  packages/inngest/src/test/functions/multiple-triggers/index.test.ts
  packages/inngest/src/test/helpers.ts
  packages/inngest/src/types.ts
  packages/inngest/test/benchmark/execution/util.ts
  pnpm-lock.yaml
Labels: 📦 inngest
