Repository inngest/inngest-js, pull requests merged in 2025-03, with the labels that each got.

#871 Make adapter types an easily-accessible value
  .changeset/hot-knives-lie.md
  packages/ai/src/adapter.ts
  packages/ai/src/adapters/anthropic.ts
  packages/ai/src/adapters/openai.ts
Labels: 💡 KTLO, 📦 @inngest/ai

#870 fix(ai): allow arbitrary model name for OpenAI + add "gpt-4.5-preview" to list
  .changeset/hot-sheep-agree.md
  packages/ai/src/models/openai.ts
Labels: 📦 @inngest/ai

#869 Allow setting default parameters for models
  .changeset/slimy-drinks-vanish.md
  packages/ai/src/models/anthropic.ts
  packages/ai/src/models/deepseek.ts
  packages/ai/src/models/gemini.ts
  packages/ai/src/models/openai.ts
Labels: ⬆️ improvement, 📦 @inngest/ai, prerelease/ai

#875 Wait until messages have been flushed before setting `CLOSED`
  .changeset/young-cherries-laugh.md
  packages/inngest/src/components/connect/index.ts
Labels: ⬆️ improvement, 📦 inngest

#874 feat(ai): add support for Anthropic Claude `"type": "document"` PDF parsing capabilities
  .changeset/rare-carrots-yawn.md
  packages/ai/src/adapters/anthropic.ts
Labels: 📦 @inngest/ai, prerelease/ai

#877 Ensure ALS covers all logic, including steps and middleware
  .changeset/thirty-news-taste.md
  packages/inngest/src/components/execution/v1.ts
  packages/inngest/src/components/execution/v2.ts
Labels: Bug, ⬆️ improvement, 📦 inngest

#880 fix(ai): `model` and `max_tokens` should be optional on `MessageCreateParamsBase` for `step.ai` APIs
  .changeset/sweet-oranges-complain.md
  packages/ai/src/adapters/anthropic.ts
Labels: 📦 @inngest/ai, prerelease/ai

#879 chore(inngest): bump `@inngest/ai`
  .changeset/three-boats-move.md
  packages/inngest/package.json
  pnpm-lock.yaml
Labels: prerelease/inngest, 📦 inngest

#886 Ignore some ESLint rules in `@inngest/ai`
  packages/ai/eslint.config.mjs
Labels: 💡 KTLO, 📦 @inngest/ai

#884 `@inngest/ai`: Gemini adapter + Grok OpenAI-compatible support
  .changeset/new-ghosts-train.md
  packages/ai/src/adapter.ts
  packages/ai/src/adapters/gemini.ts
  packages/ai/src/adapters/grok.ts
  packages/ai/src/adapters/index.ts
  packages/ai/src/env.ts
  packages/ai/src/models/anthropic.ts
  packages/ai/src/models/gemini.ts
  packages/ai/src/models/grok.ts
  packages/ai/src/models/index.ts
Labels: 📦 @inngest/ai, prerelease/ai

#885 chore: bump `@inngest/ai`
  .changeset/moody-dolls-wash.md
  packages/inngest/package.json
  pnpm-lock.yaml
Labels: prerelease/inngest, 📦 inngest

#890 Export a `models` property in `@inngest/ai`
  .changeset/unlucky-points-exercise.md
  packages/ai/src/index.ts
Labels: ⬆️ improvement, 📦 @inngest/ai

#889 Automatically set all AI models exports in step tooling
  .changeset/yellow-ties-greet.md
  packages/inngest/package.json
  packages/inngest/src/components/InngestStepTools.ts
  pnpm-lock.yaml
Labels: ⬆️ improvement, 📦 inngest

#866 Add `@inngest/realtime` v0
  .changeset/smooth-needles-guess.md
  .github/workflows/pr.yml
  examples/realtime-next/.gitignore
  examples/realtime-next/README.md
  examples/realtime-next/app/actions.ts
  examples/realtime-next/app/api/inngest/route.ts
  examples/realtime-next/app/favicon.ico
  examples/realtime-next/app/globals.css
  examples/realtime-next/app/layout.tsx
  examples/realtime-next/app/page.tsx
  examples/realtime-next/eslint.config.mjs
  examples/realtime-next/hooks/useInngestApp.ts
  examples/realtime-next/inngest/functions/helloWorld.ts
  examples/realtime-next/inngest/index.ts
  examples/realtime-next/next.config.ts
  examples/realtime-next/package.json
  examples/realtime-next/postcss.config.mjs
  examples/realtime-next/public/file.svg
  examples/realtime-next/public/globe.svg
  examples/realtime-next/public/inngest.svg
  examples/realtime-next/public/next.svg
  examples/realtime-next/public/vercel.svg
  examples/realtime-next/public/window.svg
  examples/realtime-next/tsconfig.json
  examples/realtime-simple/README.md
  examples/realtime-simple/main.ts
  examples/realtime-simple/package.json
  packages/realtime/.gitignore
  packages/realtime/CHANGELOG.md
  packages/realtime/LICENSE.md
  packages/realtime/README.md
  packages/realtime/eslint.config.mjs
  packages/realtime/jest.config.js
  packages/realtime/jsr.json
  packages/realtime/package.json
  packages/realtime/src/channel.ts
  packages/realtime/src/hooks.ts
  packages/realtime/src/index.test.ts
  packages/realtime/src/index.ts
  packages/realtime/src/middleware.ts
  packages/realtime/src/subscribe.ts
  packages/realtime/src/topic.ts
  packages/realtime/src/types.ts
  packages/realtime/src/util.ts
  packages/realtime/tsconfig.json
  pnpm-lock.yaml
Labels: prerelease/inngest, 🧪 experimental, 📦 @inngest/realtime

#896 Add a README for `examples/realtime-next`
  examples/realtime-next/README.md
Labels: 💡 KTLO

#899 Make sure to use `eslint@^8.0.0` for rules that don't support flat config yet
  packages/eslint-plugin/package.json
  pnpm-lock.yaml
Labels: 💡 KTLO, 📦 @inngest/eslint-plugin

#898 Loosen `InngestTestEngine`'s `function` typing
  .changeset/fair-tigers-applaud.md
  packages/test/package.json
  packages/test/src/InngestTestEngine.ts
  pnpm-lock.yaml
Labels: Bug, 📦 @inngest/test

#897 Make `app` optional in `useInngestSubscription()`
  .changeset/fifty-pandas-report.md
  .changeset/long-chicken-obey.md
  examples/realtime-next/app/page.tsx
  packages/realtime/package.json
  packages/realtime/src/hooks.ts
  packages/realtime/src/subscribe.ts
  packages/realtime/src/topic.ts
  packages/realtime/src/util.ts
  pnpm-lock.yaml
Labels: ⬆️ improvement, 📦 @inngest/realtime

#902 Connect to dev/cloud in `@inngest/realtime`
  .changeset/modern-laws-return.md
  packages/realtime/src/subscribe.ts
Labels: Bug, ⬆️ improvement, 📦 @inngest/realtime

#905 Add `getWebStream()` for streaming responses to browsers
  .changeset/cool-falcons-grow.md
  .github/workflows/prerelease.yml
  packages/realtime/src/subscribe.ts
  packages/realtime/src/types.ts
Labels: 📦 @inngest/realtime, prerelease/realtime

#907 Refactor realtime subscriptions, remove iterators
  .changeset/dry-comics-reflect.md
  .changeset/swift-geckos-rest.md
  .changeset/tasty-sloths-judge.md
  .changeset/three-bulldogs-pump.md
  packages/realtime/src/hooks.ts
  packages/realtime/src/subscribe/StreamFanout.ts
  packages/realtime/src/subscribe/TokenSubscription.ts
  packages/realtime/src/subscribe/helpers.ts
  packages/realtime/src/subscribe/index.ts
  packages/realtime/src/types.ts
Labels: ⬆️ improvement, 📦 @inngest/realtime

#910 Fix cross-version `shouldOptimizeParallelism()` call
  .changeset/fluffy-avocados-attend.md
  packages/inngest/src/components/InngestCommHandler.ts
Labels: Bug, 📦 inngest

#914 Use devserver URL for realtime, if set in env var
  .changeset/dry-crabs-guess.md
  packages/inngest/src/helpers/consts.ts
  packages/inngest/src/helpers/devserver.ts
  packages/realtime/src/subscribe/TokenSubscription.ts
Labels: 📦 inngest, 📦 @inngest/realtime

#913 Export the `version` of the package
  .changeset/tall-peas-smash.md
  packages/inngest/src/index.ts
Labels: ⬆️ improvement, 📦 inngest

#916 Allow supplying env as environment variable
  .changeset/stale-foxes-bake.md
  packages/inngest/src/components/connect/index.ts
Labels: prerelease/inngest, 📦 inngest

#745 Do not reuse the response body when parsing errors
  .changeset/chilly-chairs-jog.md
  packages/inngest/src/components/Inngest.ts
Labels: Bug, 📦 inngest

#918 Temporal APIs
  .changeset/sweet-grapes-fetch.md
  packages/inngest/package.json
  packages/inngest/src/components/InngestStepTools.test.ts
  packages/inngest/src/components/InngestStepTools.ts
  packages/inngest/src/helpers/temporal.ts
  pnpm-lock.yaml
Labels: prerelease/inngest, ⬆️ improvement, 📦 inngest, 🧪 experimental

#921 Include RunID in acks / sdk response
  .changeset/thin-peaches-worry.md
  packages/inngest/src/components/connect/index.ts
  packages/inngest/src/components/connect/protobuf/connect.proto
  packages/inngest/src/proto/src/components/connect/protobuf/connect.ts
Labels: 📦 inngest

#922 When (de)serializing errors, allow `unknown` `cause`, but still parse
  .changeset/wicked-dogs-compete.md
  packages/inngest/src/helpers/errors.ts
  packages/inngest/src/types.ts
Labels: Bug, ⬆️ improvement, 📦 inngest

#919 Add dependency injection middleware
  .changeset/eleven-adults-glow.md
  packages/inngest/src/index.ts
  packages/inngest/src/middleware/dependencyInjection.test.ts
  packages/inngest/src/middleware/dependencyInjection.ts
Labels: ✨ new, 📦 inngest

#925 Export `fastifyPlugin` as a named export
  .changeset/great-ravens-pretend.md
  packages/inngest/src/fastify.ts
Labels: Bug, prerelease/inngest, 📦 inngest

#927 Fix connecting to prod realtime
  .changeset/wet-seals-tease.md
  packages/realtime/src/subscribe/TokenSubscription.ts
Labels: Bug, 📦 @inngest/realtime, prerelease/realtime
