Repository inngest/inngest-js, pull requests merged in 2025-05, with the labels that each got.

#971 Use consistent casing for `libSodium` export
  .changeset/breezy-cameras-drive.md
  packages/middleware-encryption/package.json
Labels: Bug, 📦 @inngest/middleware-encryption

#974 Use and test Node 24
  .github/workflows/pr.yml
  flake.lock
  flake.nix
Labels: 💡 KTLO

#979 Add `step.waitForSignal()`
  .changeset/large-experts-join.md
  examples/node/inngest/helloWorld.ts
  examples/node/package.json
  packages/inngest/src/api/api.ts
  packages/inngest/src/components/Inngest.ts
  packages/inngest/src/components/InngestStepTools.ts
  packages/inngest/src/types.ts
Labels: 📦 inngest, 🧪 experimental

#985 Add ability for signal waits to supersede others
  .changeset/silly-yaks-hope.md
  packages/inngest/src/components/InngestStepTools.ts
Labels: prerelease/inngest, 📦 inngest

#991 Add support for singletons
  packages/inngest/src/components/InngestFunction.ts
  packages/inngest/src/types.ts
Labels: 📦 inngest

#989 When executing, use the `serve()` call's client instead of the function's
  .changeset/dry-weeks-lay.md
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/components/InngestFunction.test.ts
  packages/inngest/src/components/InngestFunction.ts
  packages/inngest/src/test/helpers.ts
Labels: Bug, prerelease/inngest, 📦 inngest

#995 Remove the cancel mode from singletons
  packages/inngest/src/components/InngestFunction.ts
  packages/inngest/src/types.ts
Labels: 📦 inngest
