Repository inngest/inngest-js, pull requests merged in 2025-01, with the labels that each got.

#794 Fix inline example to match v3
  .changeset/yellow-buttons-fail.md
  packages/inngest/src/components/Inngest.ts
Labels: 📦 inngest

#789 Handle missing request body
  .changeset/silent-carrots-develop.md
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/deno/fresh.ts
  packages/inngest/src/test/helpers.ts
Labels: Bug, 📦 inngest

#798 Fix/named fn params
  .changeset/tall-nails-think.md
  packages/inngest/src/components/InngestStepTools.test.ts
  packages/inngest/src/components/InngestStepTools.ts
Labels: Bug, prerelease/inngest, 📦 inngest

#803 Allow typings for `InngestFunction["client"]`
  .changeset/dirty-poets-begin.md
  packages/inngest/src/components/InngestFunction.ts
Labels: ⬆️ improvement, 📦 inngest

#805 Add a `description` to Inngest functions
  .changeset/metal-toes-arrive.md
  packages/inngest/src/components/InngestFunction.ts
Labels: ⬆️ improvement, 📦 inngest

#804 Add `absoluteId()` to get the absolute ID of an `InngestFunction`
  .changeset/wise-rings-marry.md
  packages/inngest/src/components/InngestFunction.ts
Labels: ⬆️ improvement, 📦 inngest

#802 Add `@inngest/ai`
  .changeset/six-roses-melt.md
  .changeset/wild-buses-yawn.md
  packages/ai/.gitignore
  packages/ai/CHANGELOG.md
  packages/ai/README.md
  packages/ai/eslint.config.mjs
  packages/ai/jsr.json
  packages/ai/package.json
  packages/ai/src/adapter.ts
  packages/ai/src/adapters/anthropic.ts
  packages/ai/src/adapters/index.ts
  packages/ai/src/adapters/openai.ts
  packages/ai/src/env.ts
  packages/ai/src/index.ts
  packages/ai/src/models/anthropic.ts
  packages/ai/src/models/gemini.ts
  packages/ai/src/models/index.ts
  packages/ai/src/models/openai.ts
  packages/ai/tsconfig.json
  packages/inngest/package.json
  packages/inngest/src/components/InngestStepTools.test.ts
  packages/inngest/src/components/InngestStepTools.ts
  packages/inngest/src/components/ai/index.ts
  packages/inngest/src/index.ts
  pnpm-lock.yaml
Labels: prerelease/inngest, 💡 KTLO, 📦 inngest, 📦 @inngest/ai

#810 Use withIsolationScope in Sentry middleware
  .changeset/smooth-singers-do.md
  packages/middleware-sentry/src/middleware.ts
Labels: 📦 @inngest/middleware-sentry, prerelease/middleware-sentry

#811 Add ESLint to `@inngest/middleware-sentry`
  packages/middleware-sentry/eslint.config.mjs
  packages/middleware-sentry/package.json
  packages/middleware-sentry/src/middleware.ts
  pnpm-lock.yaml
Labels: 📦 @inngest/middleware-sentry

#819 Set `inngest`'s ALS in global state to access it across versions
  .changeset/shiny-pigs-smoke.md
  packages/inngest/src/components/execution/als.test.ts
  packages/inngest/src/components/execution/als.ts
Labels: ⬆️ improvement, 📦 inngest

#818 Add reconnection support
  .changeset/dirty-suits-wash.md
  examples/connect-example/index.ts
  packages/inngest/package.json
  packages/inngest/src/components/connect/index.ts
  packages/inngest/src/components/connect/messages.ts
  packages/inngest/src/components/connect/os.ts
  packages/inngest/src/components/connect/protobuf/connect.proto
  packages/inngest/src/components/connect/types.ts
  packages/inngest/src/proto/src/components/connect/protobuf/connect.ts
  pnpm-lock.yaml
Labels: ⬆️ improvement, 📦 inngest

#821 Implement shutdown signal handling
  examples/connect-example/index.ts
  packages/inngest/src/components/connect/buffer.ts
  packages/inngest/src/components/connect/index.ts
  packages/inngest/src/components/connect/os.ts
  packages/inngest/src/components/connect/types.ts
  packages/inngest/src/components/connect/util.ts
Labels: 📦 inngest

#820 Make INNGEST_ALLOW_IN_BAND_SYNC opt out
  .changeset/shy-boats-explode.md
  packages/inngest/scripts/integrationTestRunner.ts
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/test/helpers.ts
Labels: ⬆️ improvement, 📦 inngest

#816 feat: deepseek model for ai api
  .changeset/old-cycles-add.md
  packages/ai/src/env.ts
  packages/ai/src/models/deepseek.ts
  packages/ai/src/models/index.ts
Labels: ✨ new, prerelease/inngest

#823 Allow wildcard event typing with `.fromRecord()`
  .changeset/rotten-carrots-search.md
  packages/inngest/src/components/EventSchemas.test.ts
  packages/inngest/src/components/EventSchemas.ts
  packages/inngest/src/index.ts
Labels: ⬆️ improvement, 📦 inngest

#817 Loosen component typing for multi-package usage
  .changeset/late-cups-smell.md
  packages/inngest/src/components/Inngest.ts
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/components/InngestFunction.ts
  packages/inngest/src/components/connect/index.ts
  packages/inngest/src/components/connect/types.ts
  packages/inngest/src/fastify.ts
  packages/inngest/src/helpers/errors.ts
  packages/inngest/src/helpers/functions.test.ts
  packages/inngest/src/helpers/functions.ts
Labels: prerelease/inngest, 💡 KTLO, 📦 inngest

#827 Bump `actions/*-artifact` to `v4`
  .github/workflows/pr.yml
Labels: 💡 KTLO

#825 Local functions for `connect()`
  .changeset/wild-jokes-pull.md
  packages/inngest/src/components/Inngest.ts
  packages/inngest/src/components/connect/index.ts
  packages/inngest/src/components/connect/types.ts
Labels: ⬆️ improvement, 📦 inngest

#822 Retry sending events
  .changeset/witty-coins-look.md
  packages/inngest/src/components/Inngest.test.ts
  packages/inngest/src/components/Inngest.ts
  packages/inngest/src/helpers/promises.ts
Labels: ⬆️ improvement, 📦 inngest

#824 Handle immediate WS failure
  .changeset/beige-teachers-fix.md
  examples/connect-example/index.ts
  packages/inngest/src/components/InngestCommHandler.ts
  packages/inngest/src/components/InngestFunction.test.ts
  packages/inngest/src/components/InngestFunction.ts
  packages/inngest/src/components/connect/index.ts
  packages/inngest/src/components/connect/os.ts
  packages/inngest/src/components/connect/types.ts
  packages/inngest/src/components/connect/util.ts
  packages/inngest/src/types.ts
Labels: prerelease/inngest, 📦 inngest

#830 Fix connect sdk version
  packages/inngest/src/components/connect/index.ts
Labels: prerelease/inngest, 📦 inngest

#831 Read signing key from env var
  .changeset/old-bikes-breathe.md
  packages/inngest/src/components/connect/index.ts
Labels: prerelease/inngest, 📦 inngest
