Repository inngest/inngest-js, pull requests merged in 2025-10, with the labels that each got.

#1121 Use new traces for CI
  packages/inngest/src/test/functions/handling-step-errors/index.test.ts
  packages/inngest/src/test/functions/hello-world/index.test.ts
  packages/inngest/src/test/functions/multiple-triggers/index.test.ts
  packages/inngest/src/test/functions/parallel-reduce/index.test.ts
  packages/inngest/src/test/functions/parallel-work/index.test.ts
  packages/inngest/src/test/functions/promise-all/index.test.ts
  packages/inngest/src/test/functions/promise-race/index.test.ts
  packages/inngest/src/test/functions/sequential-reduce/index.test.ts
  packages/inngest/src/test/functions/step-invoke-not-found/index.test.ts
  packages/inngest/src/test/functions/step-invoke/index.test.ts
  packages/inngest/src/test/functions/undefined-data/index.test.ts
  packages/inngest/src/test/functions/unhandled-step-errors/index.test.ts
  packages/inngest/src/test/helpers.ts
Labels: 💡 KTLO, 📦 inngest

#1114 Fix `.fromSchema()` runtime schema being mismatched
  .changeset/early-pianos-cry.md
  packages/inngest/src/components/EventSchemas.ts
  packages/middleware-validation/package.json
  packages/middleware-validation/src/middleware.test.ts
  packages/middleware-validation/src/middleware.ts
  pnpm-lock.yaml
Labels: Bug, prerelease/inngest, 📦 inngest, 📦 @inngest/middleware-validation, prerelease/middleware-validation

#1116 EXE-161: update comments for batch event timeout
  .changeset/tough-icons-bake.md
  packages/inngest/src/components/InngestFunction.ts
Labels: 📦 inngest
